.distribution-widget {
  display: flex;
  flex-direction: column;
}

.distribution-widget .container {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 1em 1em 0 1em;
}

.distribution-widget svg {
  background: #fff;
  padding: 0;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.distribution-widget .input-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 1em;
}

.distribution-widget input {
  line-height: 1.6;
  width: 3.2em;
  font-size: larger;
  margin: 0 0 1em 0;
  text-align: center;
}

.distribution-widget .x-axis {
  height: 24px;
  margin: 0 0 0 1em;
  background-color: aliceblue;
}